---	
import Page from '../layouts/Page.astro';

const links = [
    {
      name: "Import a texture",
      slug: "threeasy-import-a-texture-bj44z"
    },
    {
      name: "Import a model - gltf",
      slug: "threeasy-import-a-gltf-bphg2"
    },
    {
      name: "Threeasy Component",
      slug: "threeasy-components-wjn79"
    },
    {
      name: "Motion Graphics I",
      slug: "threeasy-motion-graphics-yfqj6"
    },
    {
      name: "Motion Graphics II",
      slug: "threeasy-motion-graphics-2-8wtgg"
    },
    {
      name: "Swimming Fish",
      slug: "threeasy-swimming-fish-mthrvm"
    },
    {
      name: "Wriggle Loop",
      slug: "wriggle-loop-wzz92u"
    },
]
---
<Page title="Examples">
  {links.map(link => {
      const src = `imgs/examples/${link.slug}.png`;
      const url = `https://codesandbox.io/s/${link.slug}?file=/app.js`
      return (
        <p>
        <a href={url} target="_blank">
          <img src={src} alt={link.name} />
          {link.name}</a>
        </p>
      )
  })}
</Page>

<style>
img {
  width:100%;
}
</style>